body {
    font-family: 'Noto Sans Thai', sans-serif;
    background-color: #00A550;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h2 {
    text-align: center;
    color: #00A550;
}


form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: #333333;
}

input, textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    font-family: 'Noto Sans Thai', sans-serif;
    padding: 10px;
    background-color: #00A550;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}